@import 'utils/variables';
@import 'components/type';

body {
    margin: 40px;
}

#pokemonInput {
    width: 20%;
    padding: 10px;
}

.button-submit {
    padding: 10px;
}

#informations {
    background-color: aquamarine;
    border-radius: 10px;
    width: fit-content;
    margin-top: 24px;
}

.pokemon-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pokemon-taille {
    margin-top: 36px;
}

h2, p, .pokemon-stats {
    margin: 0;
    padding: 20px;
}

img {
    width: 40%;
    justify-content: end;
}

ul {
    list-style-type: none;
}